<div class="full-height">
    <div class="title-container">
        <img id="logo" src="assets/logos/logo.png">
        <h1 id="title">ScanDrive</h1>
    </div>

    <div class="home-container">
        <h1>¿Qué puede hacer ScanDrive?</h1>
        <div class="first-sub-container">
            <h5>Previos Diagnósticos de tu auto</h5>
            <p>Ingresa el problema o falla que tenga tu auto y obtén una lista de previas causas que lo ocasionen, además de soluciones al mismo</p>
        </div>
        <div class="first-sub-container" style="margin-top: 20px;">
            <h5>Ejemplo</h5>
            <p>Ingresa la <span style="color: #FFF733;">frase clave</span> y el <span style="color:#11AFD2; text-decoration-line: underline;">problema</span> <br> <br>
               <span style="color: #FFF733;"> Qué hago si mi auto </span> <span style="color:#11AFD2; text-decoration-line: underline;">en ocasiones se acelera</span></p>
               <br>
        </div>
        <button routerLink="/chat">Realizar prueba</button>
    </div>
</div>