<div class="full-height">
   <div class="title-container" routerLink="/">
      <img id="logo" src="assets/logos/logo.png" />
      <h1 id="title">ScanDrive</h1>
   </div>
   <div class="text-limitants"> <img src="assets/logos/menu.png"> <p> Limitaciones</p></div>
   <div #chatContainer class="chat-container">
     <div class="chat-list">
      <app-chat-list *ngFor="let i of data" role="{{i.role}}" message="{{i.message}}"></app-chat-list>
      <app-chat-list *ngIf="showLoadData" role="loading"></app-chat-list>
     </div>
   </div>
   <div class="input-container">
      <input [(ngModel)]="userMessage" type="text" placeholder="Ingresa tu busqueda" autofocus (keyup.enter)="sendMessage(userMessage)">
      <!-- <button [disabled]="!isClickeable" (click)='sendMessage(userMessage)' > -->
         <img (click)='sendMessage(userMessage)' class="send" src="assets/logos/enviar.png" >
      <!-- </button> -->
   </div>
</div>