<div class="full-height">
    <h1 id="title">SCANDRIVE</h1>
    <div class="login-container">
        <div id="login">
            <h1 class="no-margin">Inicio de sesión</h1>
        <p>inicia sesión con tu cuenta <b>ScanDrive</b> </p>
    
        <form action="">
            <p>Email</p>
            <input type="email" placeholder="hey@tucuenta.com">
            <p>Contraseña</p>
            <input type="password" placeholder="introduce tu Contraseña"><br>
            <button>Iniciar Sesión</button>
            <p class="center">¿no tienes cuenta? <a href="/register">Crear Cuenta</a> </p>
        </form>
        </div>
    </div>

</div>