<img src="assets\images\background-register.jpg">
<div class="full-height">
    <div class="login-container">
        <div id="login">
            <h1 class="no-margin">REGISTRATE</h1>
        <p style="margin-top: 0px">Date de alta registrando los siguientes datos </p>
    
        <form action="">
            <p>Nombre</p>
            <input type="text" placeholder="hey@tucuenta.com">
            <p>Email</p>
            <input type="email" placeholder="hey@tucuenta.com">
            <p>Contraseña</p>
            <input type="password" placeholder="introduce tu Contraseña"><br>
            <button>Crear Cuenta</button>
            <p class="center">¿ya tienes cuenta? <a href="/login">inicia sesión</a> </p>
        </form>
        </div>
    </div>

</div>