<div class="full-height">
    <div id="header">
        <div class="container">
            <div class="title-container" routerLink="/">
                <img id="logo" src="assets/logos/logo.png">
                <h1 id="title">ScanDrive</h1>
            </div>
        </div>
        <div class="container" routerLink="/chat">
            <img src="assets/logos/auto.png">
            <p class="no-margin">Realizar diagnostico</p>
        </div>
        <div class="container" (click)="navigate('/login')">
            <img src="assets/logos/sesion.png">
            <p class="no-margin">{{loginText}}</p>
        </div>
    </div>
    <h1 class="content"> Cuidar de tu auto, <br><br>mejora la vida de su motor</h1>
    <h3 class="description">Realiza un previo diagnóstico en cuestión de segundos</h3>
    <div class="more-info">
        <a class="more-info" href="/more-info">Más Información</a>
        <img style="align-self: center;" src="assets/logos/more-info.png" alt="">
    </div>
</div>
